.title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: aqua;
  text-shadow: -6px 6px 0px #CB00CE;
  font-size: 80px;
}

.btn-primary, .btn-primary:hover {
  font-weight: 900 !important;
  color: #272100 !important;
  font-size: 40px !important;
  background-color: #ffd500 !important;
  border: 3px solid !important;
  border-color: #ffd500 !important;
  /* box-shadow: -6px 6px 0px #CB00CE; */
}

.input-group {
  padding: 30px;
  margin: auto;
  max-width: 30%;
}

.input-group input, .input-group input:focus {
  background-color: #0c0118;
  border: 3px solid;
  border-color: #ffd500;
  height: 70px;
  color: aqua;
  font-size: 30px;
}

.delete-button {
  color: red;
  background-color: none;
  font-weight: bolder;
}